{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="faq-section-title">
						<h1 id="Top">Droits d'auteur</h1>
					</div>	
					<div class="faq-section-content">
	                    <p><b>Mass Music</b> respecte les droits de propriété intellectuelle d'autrui et vous demande de faire de même. <b>Mass Music</b> n'autorise pas les activités portant atteinte au droit d'auteur sur sa plate-forme et suspendra rapidement le contenu protégé par le droit d'auteur (diffusé via une adresse Web / URL accessible au public) de pouvoir être converti et téléchargé sur sa plate-forme lorsqu'il est gracieusement averti.
                    Si vous êtes un créateur / propriétaire de contenu, un détenteur de droits d'auteur ou un de ses agents et souhaitez désactiver l'utilisation possible de la plate-forme OnlineVideoConverter.com pour convertir vos contenus accessibles au public, veuillez nous envoyer une demande par courrier électronique avec les informations indiquées ci-dessous et nous mettrons en liste noire le contenu de notre système dans les 24 heures.</p><br>
					</div>	
				</div>
			</div>
		</div>
{% endblock %}  