{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="faq-section-title">
						<h1 id="Top">Questions Fréquentes (FAQ)</h1>
					</div>	
					<div class="faq-section-content">
	                    <p>Dans cette section nous essayons de répondre à vos questions à propos de notre service de conversion vidéo.</p>
						<h3 id="question_1">Y a-t-il une limite au nombre de fichiers que je peux convertir ?</h3>
						<p>Notre service de conversion vidéo est totalement gratuit et il n’y a pas de limite au nombre de fichiers que vous pouvez convertir. Libre à vous d’utiliser notre site web autant que vous le voulez.</p><br>
						<h3 id="question_2">Combien de temps faut-il pour convertir une vidéo ?</h3>
						<p>Bien que nous offrions une des vitesses de conversion les plus rapides, la durée réelle d’une conversion peut varier en fonction de la vidéo originale et du moment de la journée. Notre service étant très populaire, cela peut prendre un peu plus de temps de convertir pendant les périodes d’affluence, en raison de la quantité importante de données présente sur nos serveurs. Le débit et la stabilité de votre connexion internet peuvent aussi affecter le temps nécessaire pour achever le processus de conversion. Pour vous donner une idée, une vidéo de cinq minutes est généralement convertie en une minute ou moins.</p><br>
					</div>	
				</div>
			</div>
		</div>
{% endblock %}  