{% extends 'base.html.twig' %}

{% block body %}

<div class="home-section-2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="title">
						<h2>It's simple to convert</h2>
						<span class="title-border"></span>
					</div>
					<ul class="home-section-2-list">
						<li> 
							<a href="#"><i class="fa fa-link"></i></a>
							<p>Enter the link of the video that you want to convert or choose a file from your device or cloud storage.</p>
						</li>
						<li>
                        	<a href="#"><i class="fa fa-cogs"></i></a>
							<p>Select the format you want to convert to and customize your settings.</p>
						</li>
						<li>
                        	<a href="#"><i class="fa fa-exchange"></i></a>
							<p>Click "Start" to start the conversion process.</p>
						</li>
						<li>
                        	<a href="#"><i class="fa fa-download"></i></a>
							<p>That's it! You can download the file once the conversion has been completed.</p>
						</li>
					</ul>
					<a href="#" class="home-convert-button">Convert now<i class="fa fa-angle-right fa-5"></i></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

