{% extends 'base.html.twig' %}

{% block body %}

<div class="home-section-2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="title">
						<h2>It's simple to convert</h2>
						<span class="title-border"></span>
						<br>
					</div>
					<ul  style="text-align:left" class="list-group list-group-flush">
						<li class="list-group-item"><p><b>Step 1 :</b> Log in to access the conversion service.</p></li>
						<li class="list-group-item"><p><b>Step 2 :</b> Enter the link of the video that you want to convert (Soundcloud / Youtube).</p></li>
						<li class="list-group-item"><p><b>Step 3 :</b> Click "Start" to start the conversion process.</p></li>
						<li class="list-group-item"><p><b>Step 4 :</b> That's it! You can download the file once the conversion has been completed.</p></li>
					</ul>
					<br>
					<a href="{{ path('downloader') }}" class="btn btn-dark">Convert now<i class="fa fa-angle-right fa-5"></i></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

